# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
### Qt template
# C++ objects and libs

.DS_Store
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

/build-ios-re
/build-mac
/build-ios-debug
# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
/build-CheckAurora-iphonesimulator_clang_Qt_5_5_0_ios_1-Debug
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

.idea

